/* .difficulty , .categories , .question , .answer , .timer , .score {
  border: 1px solid black;
} */

h1, h2, h4 {
  text-align: center;
}

h1 {
  padding-top: 5px;
}

body {
  background: url("quiz-background.png");
}

.allContent {
    border: 1px solid black;
    margin-top: 100px;
}

.categories li {
  list-style: none;
  text-align: center;
}

.q {
  text-align: center;
}

.secs , .mins {
  text-align: center;
}

.score {
  text-align: center;
}

.myModal {
  margin-top: 200px;
}

.playAgain {
  color: white;
  text-decoration: none;
}

.panel {
margin: 40px;
padding: 50px;
text-align: center;
}
