/* .difficulty , .categories , .question , .answer , .timer , .score {
  border: 1px solid black;
} */

h1, h2 {
  text-align: center;
}

h1 {
  padding-top: 100px;
}

body {
  background: url("quiz-background.png");
}

.categories li {
  list-style: none;
  text-align: center;
}

.q {
  text-align: center;
}

.secs , .mins {
  text-align: center;
}
